<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
</head>
<body>
    <h1>Users</h1>
    <ul>
        <% users.forEach((user) => { %>
            <li>
                <h2><%= user.username %> (<%= user.role %>)</h2>
                <p>Email: <%= user.email %></p>
                <a href="/users/<%= user._id %>">View Details</a>
                <form action="/users/<%= user._id %>?_method=DELETE" method="POST">
                    <button type="submit">Delete</button>
                </form>
            </li>
        <% }) %>
    </ul>
</body>
</html>